@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
.wrapper{
	width:1030px;
	height:auto;
	border:1px solid #000;
	margin:auto;
}
.header{
	width:100%;
	height:200px;
	border:1px solid #000;
}
.menu{
	width:100%;
	height:30px;
	border:1px solid #000;	
}
.menu ul{
	width:100%;
	height:30px;
	list-style:none;
	margin-left:10px;
}
.menu ul li{
	float:left;
	line-height:30px; 
	margin-left:20px;
	font-weight:bold;
}
.menu ul li a{
	color:#000;
	text-decoration:none;
}
.menu a:hover{
	text-decoration:underline;
}
.content{
	width:100%;
	height:550px;
	border:1px solid #000;
}
.leftcontent{
	width:200px;
	height:550px;
	border:1px solid #000;
	float:left;
}
.listsanpham ul{
	width:100%;
	height:auto;
	list-style:none;		
}
.listsanpham ul li{
	margin:5px;
	margin-left:20px;	
}
.listsanpham a{
	color:#000;
	text-decoration:none;	
}
.listsanpham a:hover{
	text-decoration:underline;
}
.rightcontent{
	width:825px;
	height:550px;
	border:1px solid #000;
	float:right;
}
.allsanpham ul{
	width:100%;
	list-style:none;
}
.allsanpham ul li{
	width:150px;
	height:auto;
	text-align:center;		
	float:left;
	margin:5px;
}
.allsanpham a{
	color:#000;
	text-decoration:none;		
}
.allsanpham a:hover{
	text-decoration:underline;
}
.clear{
	clear:both;
}
.footer{
	width:100%;
	height:100px;
	border:1px solid #000
}